.BSystemChange {
    background-image: url("project://database/Assets/Level/Site/Texture/T%EF%BC%BFChangePageBtn.png?fileID=2800000&guid=046184c4180e54e4f9ee584981839a36&type=3#T＿ChangePageBtn");
    color: rgb(255, 255, 255);
}

.BSystemChange:hover {
    color: rgb(255, 255, 255);
    background-image: url("project://database/Assets/Level/Site/Texture/T%EF%BC%BFChangePageBtn.png?fileID=2800000&guid=046184c4180e54e4f9ee584981839a36&type=3#T＿ChangePageBtn");
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.85);
    transition-property: color;
    transition-duration: 0.2s;
}

.BSystemChange--active {
    background-image: url("project://database/Assets/Level/Site/Texture/T%EF%BC%BFChangePageBtnHover.png?fileID=2800000&guid=d4cd78382558b7b418729c3c32415f38&type=3#T＿ChangePageBtnHover");
    background-color: rgb(255, 255, 255);
    color: rgb(46, 139, 220);
    -unity-font-style: bold;
}

.BSystemChange--active {
    background-image: url("project://database/Assets/Level/Site/Texture/T%EF%BC%BFTitelBtnHover.png?fileID=2800000&guid=d8329de2e29d50b4bb201f8fe3e7c98f&type=3#T＿TitelBtnHover");
}
